.gamemode-container {
    position: relative;
    padding: 75px 80px;
    height: 100vh;
    width: 100%;
}

.gamemode-container > div {
    padding: 12px;
    height: 51%;
    margin-bottom: 10px;
    width: 100%;
}

.top-buttons {
    z-index: 999;
    top: 20px;
}

.card {
  padding: 10px;
  margin: 5px;
  display: inline-block;
  cursor: pointer;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  width: 135px;
  height: 135px;
}

.card-charges {
  right: -8.5%;
  bottom: 35%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.charge-full {
  width: 15px;
  background: #ffee00;
  padding: 12px 12px;
  clip-path: polygon(50% 0, 100% 50%, 50% 100%, 50% 100%, 0% 50%, 50% 0);
  position: relative;
}

.charge {
  width: 15px;
  background: rgba(255, 238, 0, 0.3);
  padding: 15px 15px;
  clip-path: polygon(50% 0, 100% 50%, 50% 100%, 50% 100%, 0% 50%, 50% 0);
  position: relative;
}

.card-skill {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    justify-content: center;
}

.card-skill img {
    width: 45px;
    height: 45px;
}

.selected {
    border: 6px solid rgb(0, 255, 0); 
    border-radius: 12px;
}

.section {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 20px;
    background-color: #fcfcfc;
    overflow-y: auto;
    gap: 10px;
    height: 100%;
}

.user-game-info {
    display: flex;
    align-items: center;
}

#timer1, #timer2 {
    font-size: 18px;
    font-weight: bold;
    color: rgb(255, 96, 96);
    margin-left: auto;
    margin-right: 15px;
}
.section-cardlist {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    overflow-y: auto;
    height: 100%;
    gap: 1px 12px;
}

.confirm-btn {
    width: 200px;
    margin: 0 auto;
    background: linear-gradient(to bottom right, #EF4765, #FF9A5A);
    border: 0;
    border-radius: 12px;
    border-radius: 12px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 2.5;
    outline: transparent;
    padding: 0 1rem;
    text-align: center;
    text-decoration: none;
    transition: box-shadow .2s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
  }
    
  .confirm-btn:not([disabled]):focus {
      box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
  }
    
  .confirm-btn:not([disabled]):hover{
      box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
  }

  .confirm-btn[disabled]{
    background: linear-gradient(to bottom right, #9c9c9c, #e4e4e4);
  }

.hidden { display: none; }

.ready::after {
    content: "";
    position: absolute;
    z-index: 999;
    background-color: rgb(233, 233, 233);
    border-radius: 20px;
    background-image: url(../src/ready_icon.png);
    background-size: 500px;
    background-position: center;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: none;
}