.container-main-small {
    display: flex;
}

.main-select-bar {
 flex-basis: 265px;
 display: flex;
 position: relative;
 flex-direction: column;
 justify-content: center;
 gap: 20px;
}

.gacha-sidebar-element {
    position: relative;
    width: 100%;
    height: 100px;
    background-repeat: no-repeat;
    background-size: cover;
}

.gacha-sidebar-element.active::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100px;
    background-image: url('../src/select_frame.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.main-container {
    flex-basis: 950px;
    padding: 6px;
    display: flex;
    justify-content: space-between;
    align-items: end;
    background-repeat: no-repeat;
    background-size: cover;
}

.main-container .info-buttons {
    position: absolute;
    top: 5px;
    right: 5px;
}

.info-buttons > button {
    font-weight: bold;
    padding: 4px 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* left side */

.left-bar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    padding: 6px;
    background-color: #FFF4F4;
    width: 170px;
    height: 40px;
    border-radius: 20px;
    margin-top: 5px;
}

.left-bar-gem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-basis: 42%;
}

.left-bar-icon {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 5px;
}

.left-bar-gem-amount {
    display: flex;
    align-items: center;
}

#gacha-end-date {
    margin: 0 auto;
}

/* right side */
.gacha-buttons-container button {
    border: none;
    border-radius: 8px;
    width: 150px;
    height: 80px;
    cursor: pointer;
}

.gacha-buttons-container button.paid {
    background: #FF8989;
}

.gacha-buttons-container button .button-pull-text {
    font-weight: bold;
    font-size: 20px;
    text-shadow: 1px 1px 2px #5a5a5a;
    color: #ffffff;
}

.gacha-buttons-container .pull-gem-amount {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 70%;
    max-width: 91%;
    margin: 0 auto;
    padding: 4px 8px;
    background-color: #ffffff;
    border-radius: 12px;
    font-size: 16px;
}
.pull-gem-amount img {
    width: 20px;
    height: 20px;
}

.pull-guaranty-info {
    position: absolute;
    padding: 8px;
    background: #FF8989;
    color: #ffffff;
    border-radius: 6px;
    transform: translateY(-55px) translateX(25%);
}

.pull-guaranty-info:after, .dialog_box:before {
    border: solid transparent;
    content: "";
    height: 0;
    width: 0;
    position: absolute;
}
.pull-guaranty-info:after {
    border-width: 4px;
}
.pull-guaranty-info:before {
    border-width: 8px;
}
 
/*Arrow pointing BOTTOM*/
.pull-guaranty-info.bottom:after, .dialog_box.bottom:before {
    left: 50%;
    top: 100%;
}
.pull-guaranty-info.bottom:after {
    border-color:  #FF8989 transparent transparent transparent ;
    margin-left: -4px;
}
.pull-guaranty-info.bottom:before {
    border-color:  #1fb4ab transparent transparent transparent ;
    margin-left: -8px;
}

.gacha-result-main {
    display: flex;
    flex-direction: column;
    padding: 20px 20px 10px;
}

#image-container {
    position: absolute;
    top: 55px;
    left: 0;
    width: 100%;
    height: 95%;
    z-index: 2;
}
#image-container img {
    width: 100%;
    height: 100%;
}

.gacha-result {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    width: 100%;
    flex-basis: 90%;
}

.gacha-result .gacha-card-wrapper, img {
  position: relative;
    width: 215px;
    height: 215px;
}

.gacha-card-wrapper.new::after {
    content: "";
    position: absolute;
    top: -15px;
    right: -20px;
    width: 75px;
    height: 75px;
    background-image: url(../src/new_icon.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.gacha-result-button {
    width: 250px;
    align-self: flex-end;
}

.modal-content.modal-gacha-error {
    width: 30%;
    padding-bottom: 10px;
}

.modal-buttons {
    display: flex;
    justify-content: space-between;
    width: 270px;
  }
  
  .modalBtn {
    width: 120px;
  }
  
  .modalBtn.Gray {
    background: linear-gradient(to bottom right, #9c9c9c, #e4e4e4);
  }
    
  .modalBtn.Gray:not([disabled]):focus {
    box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(180, 180, 180, 0.5), .125rem .125rem 1rem rgba(209, 209, 209, 0.5);
  }
    
  .modalBtn.Gray:not([disabled]):hover {
    box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(180, 180, 180, 0.5), .125rem .125rem 1rem rgba(209, 209, 209, 0.5);
  }

  /* gacha list and gacha history modal */
.modal-gacha-list {
    position: relative;
    top: 20%;
    width: 750px;
    height: 600px;
}
  .gacha-modal-list {
    display: flex;
    gap: 8px;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    padding-right: 10px;
  }

  .gacha-modal-list li {
    display: flex;
    width: 100%;
  }
  .gacha-modal-list .list-header {
    display: flex;
    justify-content: space-around;
    font-weight: bold;
    font-size: 12px;
  }

  .gacha-modal-list .gacha-card-info {
    display: flex;
    flex-basis: 83%;
    margin-left: 12px;
    justify-content: space-between;
  }

  .gacha-modal-list .gacha-card-info p {
    text-align: center;
    align-self: center;
  }

  .list-header .gacha-card-info  {
    flex-basis: 80%;
    align-self: center;
    justify-items: flex-end;
    margin-left: 0;
  }

  #card-name {
    flex-basis: 50%;
  }

  .gacha-modal-list img {
    width: 75px;
    height: 75px;
  }

  .cardlist-icon {
    width: 100px;
    height: 100px;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .gacha-modal-buttons {
    justify-content: center;
  }

 .gacha-history-element{
    justify-content: space-between;
 }

 .gacha-banner {
    width: 100%;
    height: 140px;
    flex-basis: 55%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
 }
 .gacha-info {
    flex-basis: 40%;
    align-self: center;
    line-height: 2em;
    letter-spacing: 2px;
 }

 #gacha-none {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 20px;
 }

 .hidden {
  display: none !important;
}

.gacha-start {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 999;
}

.gacha-start video {
  width: 100%;
  height: 100%;
  display: block;
}