.container-main-small {
    display: flex;
}

/* ミッション選択 */
.main-select-bar {
    flex-basis: 265px;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
}

.mission-bar-element {
    position: relative;
    display: flex;
    width: 100%;
    height: 100px;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-weight: bold;
    font-size: 22px;
}

.mission-bar-element.active::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-image: url('../src/select_frame.png');
    background-size: contain;
    background-repeat: no-repeat;
}

/* ミッション */
.main-container {
    flex-basis: 950px;
    display: flex;
    padding: 20px;
}

.missions-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    padding-right: 12px;
}

.mission-element {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 20px;
    border: 2px solid #D967FF;
    border-radius: 8px;
    font-size: 24px;
}

.mission-element img {
    width: 100px;
    height: 85px;
    margin-right: 15px;
}

.mission-element-reward {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mission-button {
    font-size: 20px;
    border: none;
    background-color: #D9D0D0;
    color: #949494;
    font-weight: bold;
    min-width: 120px;
    padding: 12px 20px;
    border-radius: 8px;
    cursor: pointer;
}

.mission-button.clear {
    background-color: #FF8989;
    color: #ffffff;
    border: 1px solid #ffffff;
}

.mission-button.received {
    background-color: inherit;
    border: none;
    padding: 0;
    cursor: auto;
}

.mission-button.received img {
    width: 90px;
    height: 80px;
}


#mission-daily {
    width: 100%;
    height: 100px;
    background-image: url('../src/daily-mission.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}